body {
    background-color: #dad5d5;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  /* Estilos para o cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos para a tabela */
  table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilos para o botão */
  button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  .index { 
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
  }
  footer{ display: flex;}
  